<%- include('../includes/head.ejs') %>

</head>
<body>

        <div class="container-fluid h-100"> 
            <div class="row justify-content-center mt-5">
                <div class="col-lg-4 col-md-10 ">
                
                    <div class="card shadow p-4 w-100" >
                        <h4 class="mb-4">إعادة تعيين كلمة مرور </h4>
                        <form method="POST" action="/reset-password">
                          <input type="email" name="email" placeholder="  أدخل البريد الإلكتروني الخاص بالحساب" style="direction: rtl;" value="<%= oldInput.email || '' %>" required class="form-control mb-2">
                          <% if (error) { %><p class="text-danger"><%= error %></p><% } %>
                          <button class="btn btn-primary mt-2">  أرسل رابط التفعيل</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>

    <script src="/js/flash-message.js"></script>
  </body>
</html>